In [1]:
import pandas as pd
import numpy as np

In [ ]:
# https://www.kaggle.com/datasets/saife245/english-premier-league?select=Datasets

In [ ]:
# Key to results data:

# Div = League Division
# Date = Match Date (dd/mm/yy)
# Time = Time of match kick-off
# HomeTeam = Home Team
# Away team = Away Team
# FTHG and HG = Full Time Home Team Goals
# FTAG and AG = Full-Time Away Team Goals
# FTR and Res = Full-Time Result (H=Home Win, D=Draw, A=Away Win)
# HTHG = Half Time Home Team Goals
# HTAG = Half Time Away Team Goals
# HTR = Half Time Result (H=Home Win, D=Draw, A=Away Win)

# Match Statistics (where available)
# Attendance = Crowd Attendance
# Referee = Match Referee
# HS = Home Team Shots
# AS = Away Team Shots
# HST = Home Team Shots on Target
# AST = Away Team Shots on Target
# HHW = Home Team Hit Woodwork
# AHW = Away Team Hit Woodwork
# HC = Home Team Corners
# AC = Away Team Corners
# HF = Home Team Fouls Committed
# AF = Away Team Fouls Committed
# HFKC = Home Team Free Kicks Conceded
# AFKC = Away Team Free Kicks Conceded
# HO = Home Team Offsides
# AO = Away Team Offsides
# HY = Home Team Yellow Cards
# AY = Away Team Yellow Cards
# HR = Home Team Red Cards
# AR = Away Team Red Cards

In [ ]:
# def removebetting(data):
#     data.drop(columns=[''])

In [42]:
pd.set_option('display.max_columns', None)
# Y1920 = pd.read_csv('/Users/lucaalfano/IH-labs/Project/archive/Datasets/2019-20.csv')
# Y1920

# Taking a look at my data

In [ ]:
# y0001 = pd.read_csv('/Users/lucaalfano/IH-labs/Project/archive/Datasets/2000-01.csv')
# y0001

In [ ]:
# group by hometeam agg func home goals sum

In [ ]:
# y0102 = pd.read_csv('/Users/lucaalfano/IH-labs/Project/archive/Datasets/2001-02.csv')
# y0102.head()

In [ ]:
# y0203 = pd.read_csv('/Users/lucaalfano/IH-labs/Project/archive/Datasets/2002-03.csv')
# y0203.head()

In [ ]:
# y0304 = pd.read_csv('/Users/lucaalfano/IH-labs/Project/archive/Datasets/2003-04.csv')
# y0304.head()

In [ ]:
# y0405 = pd.read_csv('/Users/lucaalfano/IH-labs/Project/archive/Datasets/2004-05.csv')
# y0405.head()

In [ ]:
# y0506 = pd.read_csv('/Users/lucaalfano/IH-labs/Project/archive/Datasets/2005-06.csv')
# y0506.head()

In [ ]:
# y0607 = pd.read_csv('/Users/lucaalfano/IH-labs/Project/archive/Datasets/2006-07.csv')
# y0607.head()

In [ ]:
# y0708 = pd.read_csv('/Users/lucaalfano/IH-labs/Project/archive/Datasets/2007-08.csv')
# y0708.head()

In [ ]:
# y0809 = pd.read_csv('/Users/lucaalfano/IH-labs/Project/archive/Datasets/2008-09.csv')
# y0809.head()

In [ ]:
# y0910 = pd.read_csv('/Users/lucaalfano/IH-labs/Project/archive/Datasets/2009-10.csv')
# y0910.head()

In [ ]:
# y1011 = pd.read_csv('/Users/lucaalfano/IH-labs/Project/archive/Datasets/2010-11.csv')
# y1011.head()

In [ ]:
# y1112 = pd.read_csv('/Users/lucaalfano/IH-labs/Project/archive/Datasets/2011-12.csv')
# y1112.head()

In [ ]:
# y1213 = pd.read_csv('/Users/lucaalfano/IH-labs/Project/archive/Datasets/2012-13.csv')
# y1213.head()

In [ ]:
# y1314 = pd.read_csv('/Users/lucaalfano/IH-labs/Project/archive/Datasets/2013-14.csv')
# y1314.head()

In [ ]:
# y1415 = pd.read_csv('/Users/lucaalfano/IH-labs/Project/archive/Datasets/2014-15.csv')
# y1415.head()

In [ ]:
# y1516 = pd.read_csv('/Users/lucaalfano/IH-labs/Project/archive/Datasets/2015-16.csv')
# y1516.head()

In [2]:
y1617 = pd.read_csv('/Users/lucaalfano/IH-labs/Project/archive/datanobets/2016-2017.csv')
y1617

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E0,13/08/16,Burnley,Swansea,0,1,A,0,0,D,...,3,9,10,14,7,4,3,2,0,0
1,E0,13/08/16,Crystal Palace,West Brom,0,1,A,0,0,D,...,4,3,12,15,3,6,2,2,0,0
2,E0,13/08/16,Everton,Tottenham,1,1,D,1,0,H,...,6,4,10,14,5,6,0,0,0,0
3,E0,13/08/16,Hull,Leicester,2,1,H,1,0,H,...,5,5,8,17,5,3,2,2,0,0
4,E0,13/08/16,Man City,Sunderland,2,1,H,1,0,H,...,4,3,11,14,9,6,1,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,21/05/17,Liverpool,Middlesbrough,3,0,H,1,0,H,...,10,3,13,8,3,3,0,1,0,0
376,E0,21/05/17,Man United,Crystal Palace,2,0,H,2,0,H,...,2,1,16,10,3,6,2,0,0,0
377,E0,21/05/17,Southampton,Stoke,0,1,A,0,0,D,...,6,3,12,10,4,10,2,4,0,0
378,E0,21/05/17,Swansea,West Brom,2,1,H,0,1,A,...,2,5,8,10,7,4,1,1,0,0
379,E0,21/05/17,Watford,Man City,0,5,A,0,4,A,...,3,9,12,10,4,5,1,0,0,0

In [102]:
y1718 = pd.read_csv('/Users/lucaalfano/IH-labs/Project/archive/datanobets/2017-2018.csv')
y1718.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E0,11/08/2017,Arsenal,Leicester,4,3,H,2,2,D,M Dean,27,6,10,3,9,12,9,4,0,1,0,0
1,E0,12/08/2017,Brighton,Man City,0,2,A,0,0,D,M Oliver,6,14,2,4,6,9,3,10,0,2,0,0
2,E0,12/08/2017,Chelsea,Burnley,2,3,A,0,3,A,C Pawson,19,10,6,5,16,11,8,5,3,3,2,0
3,E0,12/08/2017,Crystal Palace,Huddersfield,0,3,A,0,2,A,J Moss,14,8,4,6,7,19,12,9,1,3,0,0
4,E0,12/08/2017,Everton,Stoke,1,0,H,1,0,H,N Swarbrick,9,9,4,1,13,10,6,7,1,1,0,0

In [105]:
y1819 = pd.read_csv('/Users/lucaalfano/IH-labs/Project/archive/datanobets/2018-2019.csv')
y1819.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E0,10/08/2018,Man United,Leicester,2,1,H,1,0,H,A Marriner,8,13,6,4,11,8,2,5,2,1,0,0
1,E0,11/08/2018,Bournemouth,Cardiff,2,0,H,1,0,H,K Friend,12,10,4,1,11,9,7,4,1,1,0,0
2,E0,11/08/2018,Fulham,Crystal Palace,0,2,A,0,1,A,M Dean,15,10,6,9,9,11,5,5,1,2,0,0
3,E0,11/08/2018,Huddersfield,Chelsea,0,3,A,0,2,A,C Kavanagh,6,13,1,4,9,8,2,5,2,1,0,0
4,E0,11/08/2018,Newcastle,Tottenham,1,2,A,1,2,A,M Atkinson,15,15,2,5,11,12,3,5,2,2,0,0

In [106]:
y1920 = pd.read_csv('/Users/lucaalfano/IH-labs/Project/archive/datanobets/2019-2020.csv')
y1920.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E0,09/08/2019,20:00,Liverpool,Norwich,4,1,H,4,0,H,M Oliver,15,12,7,5,9,9,11,2,0,2,0,0
1,E0,10/08/2019,12:30,West Ham,Man City,0,5,A,0,1,A,M Dean,5,14,3,9,6,13,1,1,2,2,0,0
2,E0,10/08/2019,15:00,Bournemouth,Sheffield United,1,1,D,0,0,D,K Friend,13,8,3,3,10,19,3,4,2,1,0,0
3,E0,10/08/2019,15:00,Burnley,Southampton,3,0,H,0,0,D,G Scott,10,11,4,3,6,12,2,7,0,0,0,0
4,E0,10/08/2019,15:00,Crystal Palace,Everton,0,0,D,0,0,D,J Moss,6,10,2,3,16,14,6,2,2,1,0,1

In [107]:
y2021 = pd.read_csv('/Users/lucaalfano/IH-labs/Project/archive/datanobets/2020-2021.csv')
y2021.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E0,12/09/2020,12:30,Fulham,Arsenal,0,3,A,0,1,A,C Kavanagh,5,13,2,6,12,12,2,3,2,2,0,0
1,E0,12/09/2020,15:00,Crystal Palace,Southampton,1,0,H,1,0,H,J Moss,5,9,3,5,14,11,7,3,2,1,0,0
2,E0,12/09/2020,17:30,Liverpool,Leeds,4,3,H,3,2,H,M Oliver,22,6,6,3,9,6,9,0,1,0,0,0
3,E0,12/09/2020,20:00,West Ham,Newcastle,0,2,A,0,0,D,S Attwell,15,15,3,2,13,7,8,7,2,2,0,0
4,E0,13/09/2020,14:00,West Brom,Leicester,0,3,A,0,0,D,A Taylor,7,13,1,7,12,9,2,5,1,1,0,0

In [108]:
y2122 = pd.read_csv('/Users/lucaalfano/IH-labs/Project/archive/datanobets/2021-2022.csv')
y2122.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E0,13/08/2021,20:00,Brentford,Arsenal,2,0,H,1,0,H,M Oliver,8,22,3,4,12,8,2,5,0,0,0,0
1,E0,14/08/2021,12:30,Man United,Leeds,5,1,H,1,0,H,P Tierney,16,10,8,3,11,9,5,4,1,2,0,0
2,E0,14/08/2021,15:00,Burnley,Brighton,1,2,A,1,0,H,D Coote,14,14,3,8,10,7,7,6,2,1,0,0
3,E0,14/08/2021,15:00,Chelsea,Crystal Palace,3,0,H,2,0,H,J Moss,13,4,6,1,15,11,5,2,0,0,0,0
4,E0,14/08/2021,15:00,Everton,Southampton,3,1,H,0,1,A,A Madley,14,6,6,3,13,15,6,8,2,0,0,0

# What can i do with this?

In [ ]:
# drop betting columns from newer datasets
# i dont think i will use them at all 
# 
# make an average table position out of eplstandings?
# use this average table position in some way?
# 
# 
# 
# make dfs with same columns, dropping betting odds 
# concat ?

# group by hometeam agg func home goals sum

In [ ]:
# make a function to keep certain columns and drop the rest, axis=0 to concat on top of eachother ?

In [ ]:
columnsreq = ['Date','HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HS', 'AS','HST', 'AST', 'HF', 'AF',
 'HC', 'AC', 'HY', 'AY', 'HR', 'AR']

In [26]:
list(y1617.columns.values.tolist())

['Date',
 'HomeTeam',
 'AwayTeam',
 'FTHG',
 'FTAG',
 'FTR',
 'HTHG',
 'HTAG',
 'HS',
 'AS',
 'HST',
 'AST',
 'HF',
 'AF',
 'HC',
 'AC',
 'HY',
 'AY',
 'HR',
 'AR']

In [8]:
# columns ['Date', 'HomeTeam', 'AwayTeam', 'FTHG','FTAG','FTR','HTHG','HTAG','HS','AS','HST','AST',
#  'HF', 'AF','HC','AC','HY','AY','HR','AR']

In [9]:
y1617 = y1617[columnsreq]
# pd.set_option('display.max_columns', None)

In [10]:
y1617

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,13/08/16,Burnley,Swansea,0,1,A,0,0,10,17,3,9,10,14,7,4,3,2,0,0
1,13/08/16,Crystal Palace,West Brom,0,1,A,0,0,14,13,4,3,12,15,3,6,2,2,0,0
2,13/08/16,Everton,Tottenham,1,1,D,1,0,12,13,6,4,10,14,5,6,0,0,0,0
3,13/08/16,Hull,Leicester,2,1,H,1,0,14,18,5,5,8,17,5,3,2,2,0,0
4,13/08/16,Man City,Sunderland,2,1,H,1,0,16,7,4,3,11,14,9,6,1,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,21/05/17,Liverpool,Middlesbrough,3,0,H,1,0,25,9,10,3,13,8,3,3,0,1,0,0
376,21/05/17,Man United,Crystal Palace,2,0,H,2,0,9,6,2,1,16,10,3,6,2,0,0,0
377,21/05/17,Southampton,Stoke,0,1,A,0,0,14,14,6,3,12,10,4,10,2,4,0,0
378,21/05/17,Swansea,West Brom,2,1,H,0,1,12,16,2,5,8,10,7,4,1,1,0,0
379,21/05/17,Watford,Man City,0,5,A,0,4,6,15,3,9,12,10,4,5,1,0,0,0

In [ ]:
# get points from HTR? 3 points to home/ 1 each draw

In [ ]:
# if fthg > ftag then 3 points home team elif ftag > fthg 3 points away else fthg = ftag 1 point each 
# split columns?

In [ ]:
# the data set is big, 
# just use years 2016/17 - 21/22?
# y1617

In [ ]:
# hometeamgames

In [ ]:
# hometeamgames['homepoints'] = hometeamgames['FTR'].map({'H': 3, 'D': 1, 'A': 0})

In [ ]:
# hometeamgames

In [ ]:
# homegamesresults = hometeamgames.groupby('HomeTeam').sum().reset_index()

In [ ]:
# homegamesresults = homegamesresults.rename(columns={'FTHG':'HGS', 'FTAG':'HGC'})

In [ ]:
# ratio of shots to goal ?

In [101]:
def bigfunc(df):


    # organizing, renaming cols, and attributing points to winner/home
    hometeamgames = df[['Date', 'HomeTeam', 'FTHG', 'FTAG', 'FTR', 'HS', 'HST', 'HF', 'HC', 'HY', 'HR']]
    
    hometeamgames['homepoints'] = hometeamgames['FTR'].map({'H': 3, 'D': 1, 'A': 0})
    
    homewin = []
    homedraw = []
    homeloss = []
    
    for i in hometeamgames['FTR']:
        if 'A' in i:
            homewin.append(0)
            homedraw.append(0)
            homeloss.append(1)
        elif 'D' in i:
            homewin.append(0)
            homedraw.append(1)
            homeloss.append(0)
        elif 'H' in i:
            homewin.append(1)
            homedraw.append(0)
            homeloss.append(0)
    hometeamgames['homewin'] = homewin
    hometeamgames['homedraw'] = homedraw
    hometeamgames['homeloss'] = homeloss
    
    homegamesresults = hometeamgames.groupby('HomeTeam').sum().reset_index()

    homegamesresults = homegamesresults.rename(columns={'FTHG':'HGS', 'FTAG':'HGC'})
    
    homegamesresults['homeplayed'] = homegamesresults['homewin']+homegamesresults['homedraw']+homegamesresults['homeloss']
    
    
    
    
    
    # organizing, renaming cols, and attributing points to winner/away
    awayteamgames = df[['Date', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'AS', 'AST', 'AF', 'AC', 'AY', 'AR']]
    
    awayteamgames['awaypoints'] = awayteamgames['FTR'].map({'H': 0, 'D': 1, 'A': 3})
    
    awaywin = []
    awaydraw = []
    awayloss = []
    
    for i in awayteamgames['FTR']:
        if 'A' in i:
            awaywin.append(0)
            awaydraw.append(0)
            awayloss.append(1)
        elif 'D' in i:
            awaywin.append(0)
            awaydraw.append(1)
            awayloss.append(0)
        elif 'H' in i:
            awaywin.append(1)
            awaydraw.append(0)
            awayloss.append(0)
    awayteamgames['awaywin'] = awaywin
    awayteamgames['awaydraw'] = awaydraw
    awayteamgames['awayloss'] = awayloss
        
    awaygamesresults = awayteamgames.groupby('AwayTeam').sum().reset_index()
    
    awaygamesresults = awaygamesresults.rename(columns={'FTHG':'AGC', 'FTAG':'AGS'})
    
    awaygamesresults['awayplayed'] = awaygamesresults['awaywin']+awaygamesresults['awaydraw']+awaygamesresults['awayloss']
    
    
    
    
    # back together to find season totals 
    seasonresults = pd.concat([homegamesresults, awaygamesresults], axis=1)
    
    
    # agg cols 
    seasonresults['Points'] = seasonresults['homepoints']+seasonresults['awaypoints']
    
    seasonresults['gamesplayed'] = seasonresults['homeplayed'] + seasonresults['awayplayed']
    
    seasonresults['TGS'] = seasonresults['HGS']+seasonresults['AGS']
    
    seasonresults['TGC'] = seasonresults['HGC']+seasonresults['AGC']
    
    seasonresults['GD'] = seasonresults['TGS']-seasonresults['TGC']

    seasonresults = seasonresults.rename(columns={'HomeTeam':'Team'})



    seasonresults = seasonresults[['Team', 'HGS', 'HGC', 'AGS', 'AGC','HS', 'AS', 'HST', 'AST', 'HF','AF','HC','AC', 'HY', 'AY', 'HR', 'AR' , 'Points', 'TGS', 'TGC', 'GD', 'homepoints', 'awaypoints', 'gamesplayed', 'homewin', 'homedraw', 'homeloss', 'awaywin', 'awaydraw', 'awayloss']]

    return seasonresults

In [116]:
sr1617=bigfunc(y1617)
sr1718=bigfunc(y1718)
sr1819=bigfunc(y1819)
sr1920=bigfunc(y1920)
sr2021=bigfunc(y2021)
sr2122=bigfunc(y2122)

/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hometeamgames['homepoints'] = hometeamgames['FTR'].map({'H': 3, 'D': 1, 'A': 0})
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hometeamgames['homewin'] = homewin
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hometeamgames['homedraw'] = homedraw
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hometeamgames['homeloss'] = homeloss
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  awayteamgames['awaypoints'] = awayteamgames['FTR'].map({'H': 0, 'D': 1, 'A': 3})
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  awayteamgames['awaywin'] = awaywin
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  awayteamgames['awaydraw'] = awaydraw
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  awayteamgames['awayloss'] = awayloss
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hometeamgames['homepoints'] = hometeamgames['FTR'].map({'H': 3, 'D': 1, 'A': 0})
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hometeamgames['homewin'] = homewin
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hometeamgames['homedraw'] = homedraw
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hometeamgames['homeloss'] = homeloss
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  awayteamgames['awaypoints'] = awayteamgames['FTR'].map({'H': 0, 'D': 1, 'A': 3})
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  awayteamgames['awaywin'] = awaywin
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  awayteamgames['awaydraw'] = awaydraw
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  awayteamgames['awayloss'] = awayloss
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hometeamgames['homepoints'] = hometeamgames['FTR'].map({'H': 3, 'D': 1, 'A': 0})
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hometeamgames['homewin'] = homewin
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hometeamgames['homedraw'] = homedraw
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hometeamgames['homeloss'] = homeloss
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  awayteamgames['awaypoints'] = awayteamgames['FTR'].map({'H': 0, 'D': 1, 'A': 3})
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  awayteamgames['awaywin'] = awaywin
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  awayteamgames['awaydraw'] = awaydraw
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  awayteamgames['awayloss'] = awayloss
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hometeamgames['homepoints'] = hometeamgames['FTR'].map({'H': 3, 'D': 1, 'A': 0})
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hometeamgames['homewin'] = homewin
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hometeamgames['homedraw'] = homedraw
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hometeamgames['homeloss'] = homeloss
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  awayteamgames['awaypoints'] = awayteamgames['FTR'].map({'H': 0, 'D': 1, 'A': 3})
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  awayteamgames['awaywin'] = awaywin
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  awayteamgames['awaydraw'] = awaydraw
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  awayteamgames['awayloss'] = awayloss

/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hometeamgames['homepoints'] = hometeamgames['FTR'].map({'H': 3, 'D': 1, 'A': 0})
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hometeamgames['homewin'] = homewin
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hometeamgames['homedraw'] = homedraw
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hometeamgames['homeloss'] = homeloss
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  awayteamgames['awaypoints'] = awayteamgames['FTR'].map({'H': 0, 'D': 1, 'A': 3})
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  awayteamgames['awaywin'] = awaywin
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  awayteamgames['awaydraw'] = awaydraw
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  awayteamgames['awayloss'] = awayloss
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hometeamgames['homepoints'] = hometeamgames['FTR'].map({'H': 3, 'D': 1, 'A': 0})
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hometeamgames['homewin'] = homewin
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hometeamgames['homedraw'] = homedraw
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hometeamgames['homeloss'] = homeloss
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  awayteamgames['awaypoints'] = awayteamgames['FTR'].map({'H': 0, 'D': 1, 'A': 3})
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  awayteamgames['awaywin'] = awaywin
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  awayteamgames['awaydraw'] = awaydraw
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/4089464412.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  awayteamgames['awayloss'] = awayloss

In [104]:
sr1718

,Team,HGS,HGC,AGS,AGC,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,Points,TGS,TGC,GD,homepoints,awaypoints,gamesplayed,homewin,homedraw,homeloss,awaywin,awaydraw,awayloss
0,Arsenal,54,20,20,31,343,250,147,87,186,197,132,93,25,32,1,1,63,74,51,23,47,16,38,15,2,2,11,4,4
1,Bournemouth,26,30,19,31,267,200,82,76,165,174,115,103,31,24,1,0,44,45,61,-16,26,18,38,7,5,7,9,6,4
2,Brighton,24,25,10,29,217,166,71,47,198,215,90,73,37,17,1,1,40,34,54,-20,29,11,38,7,8,4,12,5,2
3,Burnley,16,17,20,22,207,172,66,61,167,183,94,73,27,38,0,0,54,36,39,-3,26,28,38,7,5,7,5,7,7
4,Chelsea,30,16,32,22,356,250,132,88,183,180,148,82,19,22,3,1,70,62,38,24,37,33,38,11,4,4,6,3,10
5,Crystal Palace,29,27,16,28,267,208,91,60,215,210,104,105,38,33,0,0,44,45,55,-10,26,18,38,7,5,7,9,6,4
6,Everton,28,22,16,36,189,171,60,62,234,225,81,69,28,23,1,2,49,44,58,-14,34,15,38,10,4,5,10,6,3
7,Huddersfield,16,25,12,33,207,153,55,56,180,216,102,63,26,35,2,1,37,28,58,-30,23,14,38,6,5,8,11,5,3
8,Leicester,25,22,31,38,227,195,75,73,180,185,112,91,22,30,2,3,47,56,60,-4,27,20,38,7,6,6,9,5,5
9,Liverpool,45,10,39,28,359,281,135,98,166,178,134,96,18,26,0,1,75,84,38,46,43,32,38,12,7,0,5,5,9
10,Man City,61,14,45,13,347,317,151,110,169,175,138,146,26,32,1,1,100,106,27,79,50,50,38,16,2,1,1,2,16
11,Man United,38,9,30,19,275,238,93,88,204,200,117,103,29,35,0,1,81,68,28,40,47,34,38,15,2,2,5,4,10
12,Newcastle,21,17,18,30,224,225,71,79,207,202,83,84,23,29,2,0,44,39,47,-8,28,16,38,8,4,7,11,4,4
13,Southampton,20,26,17,30,252,199,77,68,190,226,125,102,29,34,0,2,36,37,56,-19,19,17,38,4,7,8,8,8,3
14,Stoke,20,30,15,38,203,179,65,66,219,217,80,56,30,32,1,0,33,35,68,-33,20,13,38,5,5,9,10,7,2
15,Swansea,17,24,11,32,214,122,69,35,196,181,95,55,24,27,0,1,33,28,56,-28,21,12,38,6,3,10,11,6,2
16,Tottenham,40,16,34,20,353,269,120,97,177,207,143,103,20,29,0,2,77,74,36,38,43,34,38,13,4,2,5,4,10
17,Watford,27,31,17,33,236,204,70,62,224,217,96,88,41,22,2,2,41,44,64,-20,27,14,38,7,6,6,13,2,4
18,West Brom,21,29,10,27,210,165,65,49,230,210,101,75,35,37,0,1,31,31,56,-25,18,13,38,3,9,7,12,4,3
19,West Ham,24,26,24,42,211,162,64,69,193,186,93,68,34,38,0,2,42,48,68,-20,27,15,38,7,6,6,10,6,3

In [117]:
slist = [sr1617,sr1718,sr1819,sr1920,sr2021,sr2122]

In [120]:

test = pd.concat(slist,axis=0).reset_index(drop=True)

In [122]:
test.groupby('Team').sum().reset_index()

,Team,HGS,HGC,AGS,AGC,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,Points,TGS,TGC,GD,homepoints,awaypoints,gamesplayed,homewin,homedraw,homeloss,awaywin,awaydraw,awayloss
0,Arsenal,230,114,166,167,1746,1335,641,463,1194,1127,763,549,191,198,9,12,394,396,281,115,242,152,228,74,20,20,48,23,43
1,Aston Villa,80,86,68,81,753,671,261,238,653,638,321,290,94,114,5,1,135,148,167,-19,72,63,114,20,12,25,30,9,18
2,Bournemouth,113,114,83,149,948,801,316,286,697,716,411,383,127,112,5,3,169,196,263,-67,107,62,152,29,20,27,46,14,16
3,Brentford,22,21,26,35,233,209,77,77,187,184,88,71,29,32,2,1,46,48,56,-8,24,22,38,7,3,9,9,4,6
4,Brighton,104,125,86,133,1228,958,339,324,1041,1040,525,393,158,128,5,11,209,190,258,-68,117,92,190,27,36,32,45,29,21
5,Burnley,122,144,108,176,1273,1034,413,338,1157,1168,542,441,183,205,0,5,262,230,320,-90,149,113,228,41,26,47,55,32,27
6,Cardiff,21,38,13,31,230,187,68,58,195,189,95,73,33,32,0,1,34,34,69,-35,20,14,38,6,2,11,13,2,4
7,Chelsea,222,101,191,132,1938,1629,719,546,1132,1192,788,591,154,179,5,3,442,413,233,180,233,209,228,69,26,19,31,20,63
8,Crystal Palace,134,144,134,189,1409,1132,450,383,1248,1281,612,508,190,198,2,5,269,268,333,-65,141,128,228,37,30,47,54,26,34
9,Everton,175,133,119,185,1442,1219,502,429,1248,1328,619,473,186,195,8,12,311,294,318,-24,193,118,228,56,25,33,56,28,30
10,Fulham,31,64,30,70,508,387,149,136,436,471,191,134,70,64,3,2,54,61,134,-73,31,23,76,8,7,23,23,11,4
11,Huddersfield,26,56,24,78,410,350,112,117,394,422,187,140,53,63,5,2,53,50,134,-84,32,21,76,8,8,22,25,9,4
12,Hull,28,35,9,45,208,188,69,58,219,184,73,106,32,35,2,3,34,37,80,-43,28,6,38,8,4,7,15,3,1
13,Leeds,47,59,57,74,529,478,182,171,463,433,214,188,86,75,2,2,97,104,133,-29,47,50,76,12,11,15,18,5,15
14,Leicester,183,137,169,184,1508,1317,533,488,1159,1198,653,578,150,185,5,10,323,352,321,31,187,136,228,55,22,37,50,28,36
15,Liverpool,275,83,223,120,2060,1720,762,634,1041,1105,819,712,110,153,2,3,508,498,203,295,274,234,228,84,22,8,18,27,69
16,Man City,313,88,252,94,2152,1892,802,672,1034,1075,900,813,140,181,7,7,536,565,182,383,279,257,228,88,15,11,19,14,81
17,Man United,207,113,176,135,1749,1451,662,569,1277,1337,676,561,193,231,4,6,414,383,248,135,220,194,228,62,34,18,30,29,55
18,Middlesbrough,17,23,10,30,205,144,59,41,210,268,93,48,38,38,0,1,28,27,53,-26,18,10,38,4,6,9,11,7,1
19,Newcastle,117,123,92,154,1194,939,384,329,1005,975,439,381,147,167,7,4,227,209,277,-68,132,95,190,36,24,35,48,23,24
20,Norwich,31,80,18,79,420,362,136,104,364,355,191,136,58,64,3,2,43,49,159,-110,27,16,76,7,6,25,28,7,3
21,Sheffield United,36,42,23,60,394,285,129,85,419,450,224,159,62,72,2,3,77,59,102,-43,49,28,76,15,4,19,22,10,6
22,Southampton,136,161,128,203,1513,1371,516,487,1240,1298,641,601,164,196,10,6,256,264,364,-100,139,117,228,35,34,45,55,30,29
23,Stoke,44,54,32,70,432,376,144,124,441,429,183,141,65,67,3,0,77,76,124,-48,47,30,76,12,11,15,20,12,6
24,Sunderland,16,34,13,35,214,173,66,55,221,216,86,74,35,41,2,2,24,29,69,-40,14,10,38,3,5,11,15,1,3
25,Swansea,44,58,29,68,437,289,152,98,386,392,214,132,54,53,0,1,74,73,126,-53,48,26,76,14,6,18,24,8,6
26,Tottenham,230,97,195,136,1774,1433,651,546,1216,1223,695,581,164,205,3,8,426,425,233,192,246,180,228,77,15,22,36,27,51
27,Watford,117,161,89,171,1151,962,361,313,1191,1124,435,419,200,155,10,9,188,206,332,-126,114,74,190,31,21,43,59,17,19
28,West Brom,63,90,46,93,604,511,196,153,654,639,281,198,94,109,2,3,102,109,183,-74,62,40,114,15,17,25,33,16,8
29,West Ham,170,165,148,182,1399,1229,473,441,1095,1108,580,489,194,171,2,13,299,318,347,-29,171,128,228,48,27,39,54,26,34
30,Wolves,96,90,76,91,994,803,316,270,798,807,405,360,123,118,1,4,212,172,181,-9,114,98,152,32,18,26,30,20,26

In [ ]:
y2122

In [ ]:
pd.concat
# reset index

In [51]:
# homegamesresults['homeplayed'] = homegamesresults['homewin']+homegamesresults['homedraw']+homegamesresults['homeloss']
#

In [52]:
homegamesresults

,HomeTeam,HGS,HGC,HS,HST,HF,HC,HY,HR,homepoints,homewin,homedraw,homeloss,homeplayed
0,Arsenal,39,16,329,114,200,132,34,3,45,14,3,2,19
1,Bournemouth,35,29,253,91,173,98,24,1,31,9,4,6,19
2,Burnley,26,20,210,64,208,79,35,0,33,10,3,6,19
3,Chelsea,55,17,316,121,185,129,32,0,51,17,0,2,19
4,Crystal Palace,24,25,224,74,230,102,32,0,20,6,2,11,19
5,Everton,42,16,277,112,215,120,36,1,43,13,4,2,19
6,Hull,28,35,208,69,219,73,32,2,28,8,4,7,19
7,Leicester,31,25,240,83,201,110,30,0,34,10,4,5,19
8,Liverpool,45,18,331,127,194,116,22,0,41,12,5,2,19
9,Man City,37,17,336,115,188,151,32,4,40,11,7,1,19
10,Man United,26,12,337,118,249,139,36,1,34,8,10,1,19
11,Middlesbrough,17,23,205,59,210,93,38,0,18,4,6,9,19
12,Southampton,17,21,299,92,206,108,23,2,24,6,6,7,19
13,Stoke,24,24,229,79,222,103,35,2,27,7,6,6,19
14,Sunderland,16,34,214,66,221,86,35,2,14,3,5,11,19
15,Swansea,27,34,223,83,190,119,30,0,27,8,3,8,19
16,Tottenham,47,9,373,147,209,148,27,0,53,17,2,0,19
17,Watford,25,29,231,77,273,82,50,2,28,8,4,7,19
18,West Brom,27,22,220,72,219,80,33,0,29,9,2,8,19
19,West Ham,19,31,270,66,192,90,47,1,25,7,4,8,19

In [32]:
# win = []
# draw = []
# loss = []

# for i in hometeamgames['FTR']:
#     if 'A' in i:
#         win.append(0)
#         draw.append(0)
#         loss.append(1)
#     elif 'D' in i:
#         win.append(0)
#         draw.append(1)
#         loss.append(0)
#     elif 'H' in i:
#         win.append(1)
#         draw.append(0)
#         loss.append(0)

In [34]:
# hometeamgames['homewin'] = win
# hometeamgames['homedraw'] = draw
# hometeamgames['homeloss'] = loss

/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/42610711.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hometeamgames['homewin'] = win
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/42610711.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hometeamgames['homedraw'] = draw
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/42610711.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hometeamgames['homeloss'] = loss

In [35]:
hometeamgames

,Date,HomeTeam,FTHG,FTAG,FTR,HS,HST,HF,HC,HY,HR,homepoints,homewin,homedraw,homeloss
0,13/08/16,Burnley,0,1,A,10,3,10,7,3,0,0,0,0,1
1,13/08/16,Crystal Palace,0,1,A,14,4,12,3,2,0,0,0,0,1
2,13/08/16,Everton,1,1,D,12,6,10,5,0,0,1,0,1,0
3,13/08/16,Hull,2,1,H,14,5,8,5,2,0,3,1,0,0
4,13/08/16,Man City,2,1,H,16,4,11,9,1,0,3,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,21/05/17,Liverpool,3,0,H,25,10,13,3,0,0,3,1,0,0
376,21/05/17,Man United,2,0,H,9,2,16,3,2,0,3,1,0,0
377,21/05/17,Southampton,0,1,A,14,6,12,4,2,0,0,0,0,1
378,21/05/17,Swansea,2,1,H,12,2,8,7,1,0,3,1,0,0
379,21/05/17,Watford,0,5,A,6,3,12,4,1,0,0,0,0,1

In [28]:
homegamesresults

          HomeTeam  HGS  HGC  HTHG   HS  HST   HF   HC  HY  HR  homepoints
0          Arsenal   39   16    15  329  114  200  132  34   3          45
1      Bournemouth   35   29    15  253   91  173   98  24   1          31
2          Burnley   26   20    12  210   64  208   79  35   0          33
3          Chelsea   55   17    25  316  121  185  129  32   0          51
4   Crystal Palace   24   25    10  224   74  230  102  32   0          20
5          Everton   42   16    17  277  112  215  120  36   1          43
6             Hull   28   35     8  208   69  219   73  32   2          28
7        Leicester   31   25    13  240   83  201  110  30   0          34
8        Liverpool   45   18    24  331  127  194  116  22   0          41
9         Man City   37   17    15  336  115  188  151  32   4          40
10      Man United   26   12    15  337  118  249  139  36   1          34
11   Middlesbrough   17   23     9  205   59  210   93  38   0          18
12     Southampton   17   21     7  299   92  206  108  23   2          24
13           Stoke   24   24    15  229   79  222  103  35   2          27
14      Sunderland   16   34     5  214   66  221   86  35   2          14
15         Swansea   27   34    10  223   83  190  119  30   0          27
16       Tottenham   47    9    23  373  147  209  148  27   0          53
17         Watford   25   29    10  231   77  273   82  50   2          28
18       West Brom   27   22    15  220   72  219   80  33   0          29
19        West Ham   19   31     5  270   66  192   90  47   1          25

In [ ]:
# hometeamgames['win'] = (hometeamgames['FTR'] == 'H') 

# hometeamgames['draw'] = (hometeamgames['FTR'] == 'D')

# # hometeamgames['loss'] = (hometeamgames['FTR'] == 'A')
# def counts(df):
    
#     win = []
#     draw = []
#     loss = []
    
#     if hometeamgames['FTR'] == 'H':

In [53]:
# organizing, renaming cols, and attributing points to winner/away
awayteamgames = y1617[['Date', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'AS', 'AST', 'AF', 'AC', 'AY', 'AR']]

awayteamgames['awaypoints'] = awayteamgames['FTR'].map({'H': 0, 'D': 1, 'A': 3})

awaywin = []
awaydraw = []
awayloss = []

for i in awayteamgames['FTR']:
    if 'A' in i:
        awaywin.append(0)
        awaydraw.append(0)
        awayloss.append(1)
    elif 'D' in i:
        awaywin.append(0)
        awaydraw.append(1)
        awayloss.append(0)
    elif 'H' in i:
        awaywin.append(1)
        awaydraw.append(0)
        awayloss.append(0)
awayteamgames['awaywin'] = awaywin
awayteamgames['awaydraw'] = awaydraw
awayteamgames['awayloss'] = awayloss

awaygamesresults = awayteamgames.groupby('AwayTeam').sum().reset_index()

awaygamesresults = awaygamesresults.rename(columns={'FTHG':'AGC', 'FTAG':'AGS'})

awaygamesresults['awayplayed'] = awaygamesresults['awaywin']+awaygamesresults['awaydraw']+awaygamesresults['awayloss']

/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/2047477584.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  awayteamgames['awaypoints'] = awayteamgames['FTR'].map({'H': 0, 'D': 1, 'A': 3})
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/2047477584.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  awayteamgames['awaywin'] = awaywin
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/2047477584.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  awayteamgames['awaydraw'] = awaydraw
/var/folders/3k/_2nrg4_92wv7dq340pkrhc5h0000gn/T/ipykernel_2006/2047477584.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  awayteamgames['awayloss'] = awayloss

In [54]:
awaygamesresults

,AwayTeam,AGC,AGS,AS,AST,AF,AC,AY,AR,awaypoints,awaywin,awaydraw,awayloss,awayplayed
0,Arsenal,28,38,236,86,197,95,33,0,30,7,3,9,19
1,Bournemouth,38,20,193,69,193,93,27,2,15,10,6,3,19
2,Burnley,35,13,180,56,218,70,30,2,7,14,4,1,19
3,Chelsea,16,30,264,83,209,89,40,0,42,3,3,13,19
4,Crystal Palace,38,26,214,64,239,100,45,0,21,10,3,6,19
5,Everton,28,20,221,80,244,76,35,1,18,9,6,4,19
6,Hull,45,9,188,58,184,106,35,3,6,15,3,1,19
7,Leicester,38,17,192,62,250,87,41,1,10,13,4,2,19
8,Liverpool,24,33,307,109,203,133,32,0,35,4,5,10,19
9,Man City,22,43,297,102,207,129,39,0,38,5,2,12,19
10,Man United,17,28,252,92,248,78,40,1,35,4,5,10,19
11,Middlesbrough,30,10,144,41,268,48,38,1,10,11,7,1,19
12,Southampton,27,24,249,87,218,92,35,0,22,9,4,6,19
13,Stoke,32,17,197,58,212,85,35,0,17,10,5,4,19
14,Sunderland,35,13,173,55,216,74,41,2,10,15,1,3,19
15,Swansea,36,18,167,63,211,77,26,0,14,13,2,4,19
16,Tottenham,17,39,296,110,223,125,35,0,33,4,6,9,19
17,Watford,39,15,188,67,244,82,33,3,12,13,3,3,19
18,West Brom,29,16,180,51,230,78,47,0,16,9,7,3,19
19,West Ham,33,28,226,72,216,82,30,4,20,9,5,5,19

In [86]:
# back together to find season totals 
seasonresults = pd.concat([homegamesresults, awaygamesresults], axis=1)

In [87]:
# seasonresults['gamesplayed'] = seasonresults['homeplayed'] + seasonresults['awayplayed']

In [88]:
seasonresults

,HomeTeam,HGS,HGC,HS,HST,HF,HC,HY,HR,homepoints,homewin,homedraw,homeloss,homeplayed,AwayTeam,AGC,AGS,AS,AST,AF,AC,AY,AR,awaypoints,awaywin,awaydraw,awayloss,awayplayed
0,Arsenal,39,16,329,114,200,132,34,3,45,14,3,2,19,Arsenal,28,38,236,86,197,95,33,0,30,7,3,9,19
1,Bournemouth,35,29,253,91,173,98,24,1,31,9,4,6,19,Bournemouth,38,20,193,69,193,93,27,2,15,10,6,3,19
2,Burnley,26,20,210,64,208,79,35,0,33,10,3,6,19,Burnley,35,13,180,56,218,70,30,2,7,14,4,1,19
3,Chelsea,55,17,316,121,185,129,32,0,51,17,0,2,19,Chelsea,16,30,264,83,209,89,40,0,42,3,3,13,19
4,Crystal Palace,24,25,224,74,230,102,32,0,20,6,2,11,19,Crystal Palace,38,26,214,64,239,100,45,0,21,10,3,6,19
5,Everton,42,16,277,112,215,120,36,1,43,13,4,2,19,Everton,28,20,221,80,244,76,35,1,18,9,6,4,19
6,Hull,28,35,208,69,219,73,32,2,28,8,4,7,19,Hull,45,9,188,58,184,106,35,3,6,15,3,1,19
7,Leicester,31,25,240,83,201,110,30,0,34,10,4,5,19,Leicester,38,17,192,62,250,87,41,1,10,13,4,2,19
8,Liverpool,45,18,331,127,194,116,22,0,41,12,5,2,19,Liverpool,24,33,307,109,203,133,32,0,35,4,5,10,19
9,Man City,37,17,336,115,188,151,32,4,40,11,7,1,19,Man City,22,43,297,102,207,129,39,0,38,5,2,12,19
10,Man United,26,12,337,118,249,139,36,1,34,8,10,1,19,Man United,17,28,252,92,248,78,40,1,35,4,5,10,19
11,Middlesbrough,17,23,205,59,210,93,38,0,18,4,6,9,19,Middlesbrough,30,10,144,41,268,48,38,1,10,11,7,1,19
12,Southampton,17,21,299,92,206,108,23,2,24,6,6,7,19,Southampton,27,24,249,87,218,92,35,0,22,9,4,6,19
13,Stoke,24,24,229,79,222,103,35,2,27,7,6,6,19,Stoke,32,17,197,58,212,85,35,0,17,10,5,4,19
14,Sunderland,16,34,214,66,221,86,35,2,14,3,5,11,19,Sunderland,35,13,173,55,216,74,41,2,10,15,1,3,19
15,Swansea,27,34,223,83,190,119,30,0,27,8,3,8,19,Swansea,36,18,167,63,211,77,26,0,14,13,2,4,19
16,Tottenham,47,9,373,147,209,148,27,0,53,17,2,0,19,Tottenham,17,39,296,110,223,125,35,0,33,4,6,9,19
17,Watford,25,29,231,77,273,82,50,2,28,8,4,7,19,Watford,39,15,188,67,244,82,33,3,12,13,3,3,19
18,West Brom,27,22,220,72,219,80,33,0,29,9,2,8,19,West Brom,29,16,180,51,230,78,47,0,16,9,7,3,19
19,West Ham,19,31,270,66,192,90,47,1,25,7,4,8,19,West Ham,33,28,226,72,216,82,30,4,20,9,5,5,19

In [89]:
# seasonresults = seasonresults[['HomeTeam','HGS', 'AGS', 'HGC', 'AGC', 'HS', 'AS', 'HST', 'AST', 'HF',
#                                'AF','HC','AC', 'HY', 'AY', 'HR', 'AR', 'homepoints', 'awaypoints']]
# reorder columns

In [90]:
seasonresults

,HomeTeam,HGS,HGC,HS,HST,HF,HC,HY,HR,homepoints,homewin,homedraw,homeloss,homeplayed,AwayTeam,AGC,AGS,AS,AST,AF,AC,AY,AR,awaypoints,awaywin,awaydraw,awayloss,awayplayed
0,Arsenal,39,16,329,114,200,132,34,3,45,14,3,2,19,Arsenal,28,38,236,86,197,95,33,0,30,7,3,9,19
1,Bournemouth,35,29,253,91,173,98,24,1,31,9,4,6,19,Bournemouth,38,20,193,69,193,93,27,2,15,10,6,3,19
2,Burnley,26,20,210,64,208,79,35,0,33,10,3,6,19,Burnley,35,13,180,56,218,70,30,2,7,14,4,1,19
3,Chelsea,55,17,316,121,185,129,32,0,51,17,0,2,19,Chelsea,16,30,264,83,209,89,40,0,42,3,3,13,19
4,Crystal Palace,24,25,224,74,230,102,32,0,20,6,2,11,19,Crystal Palace,38,26,214,64,239,100,45,0,21,10,3,6,19
5,Everton,42,16,277,112,215,120,36,1,43,13,4,2,19,Everton,28,20,221,80,244,76,35,1,18,9,6,4,19
6,Hull,28,35,208,69,219,73,32,2,28,8,4,7,19,Hull,45,9,188,58,184,106,35,3,6,15,3,1,19
7,Leicester,31,25,240,83,201,110,30,0,34,10,4,5,19,Leicester,38,17,192,62,250,87,41,1,10,13,4,2,19
8,Liverpool,45,18,331,127,194,116,22,0,41,12,5,2,19,Liverpool,24,33,307,109,203,133,32,0,35,4,5,10,19
9,Man City,37,17,336,115,188,151,32,4,40,11,7,1,19,Man City,22,43,297,102,207,129,39,0,38,5,2,12,19
10,Man United,26,12,337,118,249,139,36,1,34,8,10,1,19,Man United,17,28,252,92,248,78,40,1,35,4,5,10,19
11,Middlesbrough,17,23,205,59,210,93,38,0,18,4,6,9,19,Middlesbrough,30,10,144,41,268,48,38,1,10,11,7,1,19
12,Southampton,17,21,299,92,206,108,23,2,24,6,6,7,19,Southampton,27,24,249,87,218,92,35,0,22,9,4,6,19
13,Stoke,24,24,229,79,222,103,35,2,27,7,6,6,19,Stoke,32,17,197,58,212,85,35,0,17,10,5,4,19
14,Sunderland,16,34,214,66,221,86,35,2,14,3,5,11,19,Sunderland,35,13,173,55,216,74,41,2,10,15,1,3,19
15,Swansea,27,34,223,83,190,119,30,0,27,8,3,8,19,Swansea,36,18,167,63,211,77,26,0,14,13,2,4,19
16,Tottenham,47,9,373,147,209,148,27,0,53,17,2,0,19,Tottenham,17,39,296,110,223,125,35,0,33,4,6,9,19
17,Watford,25,29,231,77,273,82,50,2,28,8,4,7,19,Watford,39,15,188,67,244,82,33,3,12,13,3,3,19
18,West Brom,27,22,220,72,219,80,33,0,29,9,2,8,19,West Brom,29,16,180,51,230,78,47,0,16,9,7,3,19
19,West Ham,19,31,270,66,192,90,47,1,25,7,4,8,19,West Ham,33,28,226,72,216,82,30,4,20,9,5,5,19

In [91]:
# agg cols 
seasonresults['Points'] = seasonresults['homepoints']+seasonresults['awaypoints']

seasonresults['gamesplayed'] = seasonresults['homeplayed'] + seasonresults['awayplayed']

seasonresults['TGS'] = seasonresults['HGS']+seasonresults['AGS']

seasonresults['TGC'] = seasonresults['HGC']+seasonresults['AGC']

seasonresults['GD'] = seasonresults['TGS']-seasonresults['TGC']

seasonresults = seasonresults.rename(columns={'HomeTeam':'Team'})

In [92]:
# awaygamesresults = awaygamesresults.rename(columns={'FTHG':'AGC', 'FTAG':'AGS'})

In [93]:
# seasonresults['TGS'] = seasonresults['HGS']+seasonresults['AGS']

In [94]:
# seasonresults['TGC'] = seasonresults['HGC']+seasonresults['AGC']

In [95]:
# seasonresults

In [96]:
# seasonresults['GD'] = seasonresults['TGS']-seasonresults['TGC']

In [97]:
# seasonresults

,Team,HGS,HGC,HS,HST,HF,HC,HY,HR,homepoints,homewin,homedraw,homeloss,homeplayed,AwayTeam,AGC,AGS,AS,AST,AF,AC,AY,AR,awaypoints,awaywin,awaydraw,awayloss,awayplayed,Points,gamesplayed,TGS,TGC,GD
0,Arsenal,39,16,329,114,200,132,34,3,45,14,3,2,19,Arsenal,28,38,236,86,197,95,33,0,30,7,3,9,19,75,38,77,44,33
1,Bournemouth,35,29,253,91,173,98,24,1,31,9,4,6,19,Bournemouth,38,20,193,69,193,93,27,2,15,10,6,3,19,46,38,55,67,-12
2,Burnley,26,20,210,64,208,79,35,0,33,10,3,6,19,Burnley,35,13,180,56,218,70,30,2,7,14,4,1,19,40,38,39,55,-16
3,Chelsea,55,17,316,121,185,129,32,0,51,17,0,2,19,Chelsea,16,30,264,83,209,89,40,0,42,3,3,13,19,93,38,85,33,52
4,Crystal Palace,24,25,224,74,230,102,32,0,20,6,2,11,19,Crystal Palace,38,26,214,64,239,100,45,0,21,10,3,6,19,41,38,50,63,-13
5,Everton,42,16,277,112,215,120,36,1,43,13,4,2,19,Everton,28,20,221,80,244,76,35,1,18,9,6,4,19,61,38,62,44,18
6,Hull,28,35,208,69,219,73,32,2,28,8,4,7,19,Hull,45,9,188,58,184,106,35,3,6,15,3,1,19,34,38,37,80,-43
7,Leicester,31,25,240,83,201,110,30,0,34,10,4,5,19,Leicester,38,17,192,62,250,87,41,1,10,13,4,2,19,44,38,48,63,-15
8,Liverpool,45,18,331,127,194,116,22,0,41,12,5,2,19,Liverpool,24,33,307,109,203,133,32,0,35,4,5,10,19,76,38,78,42,36
9,Man City,37,17,336,115,188,151,32,4,40,11,7,1,19,Man City,22,43,297,102,207,129,39,0,38,5,2,12,19,78,38,80,39,41
10,Man United,26,12,337,118,249,139,36,1,34,8,10,1,19,Man United,17,28,252,92,248,78,40,1,35,4,5,10,19,69,38,54,29,25
11,Middlesbrough,17,23,205,59,210,93,38,0,18,4,6,9,19,Middlesbrough,30,10,144,41,268,48,38,1,10,11,7,1,19,28,38,27,53,-26
12,Southampton,17,21,299,92,206,108,23,2,24,6,6,7,19,Southampton,27,24,249,87,218,92,35,0,22,9,4,6,19,46,38,41,48,-7
13,Stoke,24,24,229,79,222,103,35,2,27,7,6,6,19,Stoke,32,17,197,58,212,85,35,0,17,10,5,4,19,44,38,41,56,-15
14,Sunderland,16,34,214,66,221,86,35,2,14,3,5,11,19,Sunderland,35,13,173,55,216,74,41,2,10,15,1,3,19,24,38,29,69,-40
15,Swansea,27,34,223,83,190,119,30,0,27,8,3,8,19,Swansea,36,18,167,63,211,77,26,0,14,13,2,4,19,41,38,45,70,-25
16,Tottenham,47,9,373,147,209,148,27,0,53,17,2,0,19,Tottenham,17,39,296,110,223,125,35,0,33,4,6,9,19,86,38,86,26,60
17,Watford,25,29,231,77,273,82,50,2,28,8,4,7,19,Watford,39,15,188,67,244,82,33,3,12,13,3,3,19,40,38,40,68,-28
18,West Brom,27,22,220,72,219,80,33,0,29,9,2,8,19,West Brom,29,16,180,51,230,78,47,0,16,9,7,3,19,45,38,43,51,-8
19,West Ham,19,31,270,66,192,90,47,1,25,7,4,8,19,West Ham,33,28,226,72,216,82,30,4,20,9,5,5,19,45,38,47,64,-17

In [98]:
# seasonresults = seasonresults[['HomeTeam', 'HGS', 'AGS', 'HGC', 'AGC', 'HS', 'AS', 'HST', 'AST', 'HF','AF','HC','AC', 'homepoints', 'awaypoints']]

seasonresults = seasonresults[['Team', 'HGS', 'HGC', 'AGS', 'AGC','HS', 'AS', 'HST', 'AST', 'HF','AF','HC','AC', 'HY', 'AY', 'HR', 'AR' , 'Points', 'TGS', 'TGC', 'GD', 'homepoints', 'awaypoints', 'gamesplayed', 'homewin', 'homedraw', 'homeloss', 'awaywin', 'awaydraw', 'awayloss']]

In [99]:
seasonresults = seasonresults.sort_values(['Points'], axis = 0, ascending = False).reset_index(drop=True)

seasonresults=seasonresults.reset_index()

seasonresults['position'] = seasonresults['index']+1

seasonresults=seasonresults.drop(columns='index')

In [100]:
seasonresults

,Team,HGS,HGC,AGS,AGC,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,Points,TGS,TGC,GD,homepoints,awaypoints,gamesplayed,homewin,homedraw,homeloss,awaywin,awaydraw,awayloss,position
0,Chelsea,55,17,30,16,316,264,121,83,185,209,129,89,32,40,0,0,93,85,33,52,51,42,38,17,0,2,3,3,13,1
1,Tottenham,47,9,39,17,373,296,147,110,209,223,148,125,27,35,0,0,86,86,26,60,53,33,38,17,2,0,4,6,9,2
2,Man City,37,17,43,22,336,297,115,102,188,207,151,129,32,39,4,0,78,80,39,41,40,38,38,11,7,1,5,2,12,3
3,Liverpool,45,18,33,24,331,307,127,109,194,203,116,133,22,32,0,0,76,78,42,36,41,35,38,12,5,2,4,5,10,4
4,Arsenal,39,16,38,28,329,236,114,86,200,197,132,95,34,33,3,0,75,77,44,33,45,30,38,14,3,2,7,3,9,5
5,Man United,26,12,28,17,337,252,118,92,249,248,139,78,36,40,1,1,69,54,29,25,34,35,38,8,10,1,4,5,10,6
6,Everton,42,16,20,28,277,221,112,80,215,244,120,76,36,35,1,1,61,62,44,18,43,18,38,13,4,2,9,6,4,7
7,Bournemouth,35,29,20,38,253,193,91,69,173,193,98,93,24,27,1,2,46,55,67,-12,31,15,38,9,4,6,10,6,3,8
8,Southampton,17,21,24,27,299,249,92,87,206,218,108,92,23,35,2,0,46,41,48,-7,24,22,38,6,6,7,9,4,6,9
9,West Brom,27,22,16,29,220,180,72,51,219,230,80,78,33,47,0,0,45,43,51,-8,29,16,38,9,2,8,9,7,3,10
10,West Ham,19,31,28,33,270,226,66,72,192,216,90,82,47,30,1,4,45,47,64,-17,25,20,38,7,4,8,9,5,5,11
11,Leicester,31,25,17,38,240,192,83,62,201,250,110,87,30,41,0,1,44,48,63,-15,34,10,38,10,4,5,13,4,2,12
12,Stoke,24,24,17,32,229,197,79,58,222,212,103,85,35,35,2,0,44,41,56,-15,27,17,38,7,6,6,10,5,4,13
13,Crystal Palace,24,25,26,38,224,214,74,64,230,239,102,100,32,45,0,0,41,50,63,-13,20,21,38,6,2,11,10,3,6,14
14,Swansea,27,34,18,36,223,167,83,63,190,211,119,77,30,26,0,0,41,45,70,-25,27,14,38,8,3,8,13,2,4,15
15,Burnley,26,20,13,35,210,180,64,56,208,218,79,70,35,30,0,2,40,39,55,-16,33,7,38,10,3,6,14,4,1,16
16,Watford,25,29,15,39,231,188,77,67,273,244,82,82,50,33,2,3,40,40,68,-28,28,12,38,8,4,7,13,3,3,17
17,Hull,28,35,9,45,208,188,69,58,219,184,73,106,32,35,2,3,34,37,80,-43,28,6,38,8,4,7,15,3,1,18
18,Middlesbrough,17,23,10,30,205,144,59,41,210,268,93,48,38,38,0,1,28,27,53,-26,18,10,38,4,6,9,11,7,1,19
19,Sunderland,16,34,13,35,214,173,66,55,221,216,86,74,35,41,2,2,24,29,69,-40,14,10,38,3,5,11,15,1,3,20

In [ ]:
# group by home team for total goal scored at home
# same away 
# add togetehr 

# date change 

# group by home team, home points
# group by away team, away points
# add together 
# = points total 

# home table/df 
# away table/df

# key column?

# if fthg > ftag ht win and assign total goals

# loop using the first 380 
# if fthg > ftag 

# can it do it without the score ?

# total shots, goal, yc, rc, posts, on target, off target, offsides etc

# wins draws losses columns?

# is tehre relationship between results / points
# home goals/wins to points
# home wins 50%?
# home gmae adv ?

In [ ]:
# homegames = y1617.groupby('HomeTeam').sum()

In [ ]:
# awaygames = y1617.groupby('AwayTeam').sum()

In [ ]:
# homegames

In [ ]:
# awaygames

In [ ]:
# y1617work = pd.concat((homegames, awaygames), axis=1)

In [ ]:
# y1617work

In [ ]:
# get match results for whole season?
# find amoutn of wins,draws,losses for season

In [3]:
gwres = y1617

In [4]:
gwres

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E0,13/08/16,Burnley,Swansea,0,1,A,0,0,D,...,3,9,10,14,7,4,3,2,0,0
1,E0,13/08/16,Crystal Palace,West Brom,0,1,A,0,0,D,...,4,3,12,15,3,6,2,2,0,0
2,E0,13/08/16,Everton,Tottenham,1,1,D,1,0,H,...,6,4,10,14,5,6,0,0,0,0
3,E0,13/08/16,Hull,Leicester,2,1,H,1,0,H,...,5,5,8,17,5,3,2,2,0,0
4,E0,13/08/16,Man City,Sunderland,2,1,H,1,0,H,...,4,3,11,14,9,6,1,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,21/05/17,Liverpool,Middlesbrough,3,0,H,1,0,H,...,10,3,13,8,3,3,0,1,0,0
376,E0,21/05/17,Man United,Crystal Palace,2,0,H,2,0,H,...,2,1,16,10,3,6,2,0,0,0
377,E0,21/05/17,Southampton,Stoke,0,1,A,0,0,D,...,6,3,12,10,4,10,2,4,0,0
378,E0,21/05/17,Swansea,West Brom,2,1,H,0,1,A,...,2,5,8,10,7,4,1,1,0,0
379,E0,21/05/17,Watford,Man City,0,5,A,0,4,A,...,3,9,12,10,4,5,1,0,0,0

In [5]:
def get_mw(playing_stat):
    j = 1
    MatchWeek = []
    for i in range(380):
        MatchWeek.append(j)
        if ((i + 1)% 10) == 0:
            j = j + 1
    playing_stat['MW'] = MatchWeek
    return playing_stat

In [6]:
gwres = get_mw(gwres)

In [7]:
gwres

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AST,HF,AF,HC,AC,HY,AY,HR,AR,MW
0,E0,13/08/16,Burnley,Swansea,0,1,A,0,0,D,...,9,10,14,7,4,3,2,0,0,1
1,E0,13/08/16,Crystal Palace,West Brom,0,1,A,0,0,D,...,3,12,15,3,6,2,2,0,0,1
2,E0,13/08/16,Everton,Tottenham,1,1,D,1,0,H,...,4,10,14,5,6,0,0,0,0,1
3,E0,13/08/16,Hull,Leicester,2,1,H,1,0,H,...,5,8,17,5,3,2,2,0,0,1
4,E0,13/08/16,Man City,Sunderland,2,1,H,1,0,H,...,3,11,14,9,6,1,2,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,21/05/17,Liverpool,Middlesbrough,3,0,H,1,0,H,...,3,13,8,3,3,0,1,0,0,38
376,E0,21/05/17,Man United,Crystal Palace,2,0,H,2,0,H,...,1,16,10,3,6,2,0,0,0,38
377,E0,21/05/17,Southampton,Stoke,0,1,A,0,0,D,...,3,12,10,4,10,2,4,0,0,38
378,E0,21/05/17,Swansea,West Brom,2,1,H,0,1,A,...,5,8,10,7,4,1,1,0,0,38
379,E0,21/05/17,Watford,Man City,0,5,A,0,4,A,...,9,12,10,4,5,1,0,0,0,38

In [24]:
# new question 
# is there a quanitfiable home team advantage 
# home wins/draw/losses count

# goals scored and conceded

# FTR = home away win 

# games played

# won drew loss x games home/away

In [ ]:
# if away win append 1 to the away list
# append 0 home list
# append 0 draw list

In [ ]:
# list(y1617.columns.values.tolist())

In [ ]:
# workingset = pd.concat([y1617, y1718, y1819, y1920, y2021, y2122], ignore_index=True)

In [ ]:
# workingset

In [ ]:
# workingset2 = workingset[columnsreq]

In [ ]:
# workingset2

In [ ]:
# list(Y2122.columns.values.tolist())

In [ ]:
# columns keep

In [ ]:
# def finaltables:

# Other involved dfs in download

In [ ]:
pd.set_option('display.max_columns', None)
final_dataset = pd.read_csv('/Users/lucaalfano/IH-labs/Project/archive/Datasets/final_dataset.csv')
final_dataset

In [ ]:
# this final dataset is made here https://www.kaggle.com/code/saife245/football-match-prediction/notebook

In [ ]:
# list(final_dataset.columns.values.tolist())

In [ ]:
# EPLstandings = pd.read_csv('/Users/lucaalfano/IH-labs/Project/archive/Datasets/EPLStandings1.csv')
# EPLstandings

In [ ]:
# currentstandings = EPLstandings[EPLstandings['Team'].isin(['Arsenal', 'Man City', 'Man United', 'Tottenham', 'Brighton', 'Chelsea', 'Newcastle', 'Fulham', 'Liverpool', 'Brentford', 'Everton', 'Leeds', 'Bournemouth', 'Aston Villa', 'West Ham', 'Southampton', 'Crystal Palace', 'Wolves', 'Nottingham Forest', 'Leicester'])]

In [ ]:
# currentstandings

In [ ]:
# currentstandings = currentstandings.fillna(0)

In [ ]:
# currentstandings

In [ ]:
# making an avergae position column
# im not sure how these 0s will affect the average 
# answer: they ruin it

In [ ]:
# currentstandings['average position'] = currentstandings.mean(numeric_only=True, axis=1)

In [ ]:
# currentstandings['average position'] = currentstandings.mode(axis=0)
# = currentstandings.mode(axis=1)

In [ ]:
# currentstandings.mode(numeric_only=True, axis=1, dropna=True)

In [ ]:
# mediam / mode

In [ ]:
# currentstandings

In [ ]:
# currentstandings.sort_values(by='average position',ascending=False)

In [ ]:
# i dont think this is useable

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# from pandas import scatter_matrix

# Models

In [ ]:
# linear regression?
# MLPregressor?
# Random forest?
# Knn? maybe no 
# xgboost?

In [ ]:

y = seasonresults['Points']
X = seasonresults.drop(['Team','Points', 'TGS', 'TGC', 'GD'],axis=1)

In [ ]:
# take out columns i made

In [ ]:
plt.figure(figsize=(20,10)) 
sns.heatmap(X.corr(), annot= True)

In [ ]:
# htag,hthg,hs,as,hst,ast have high correlations

In [ ]:
pd.plotting.scatter_matrix(X, figsize=(10,10))

In [ ]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
X_train

In [ ]:
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
lm = linear_model.LinearRegression()
lm.fit(X_train, y_train)
print('score', lm.score(X_train,y_train))

In [ ]:


Xnumtrain = X_train.select_dtypes(np.number)
Xnumtest = X_test.select_dtypes(np.number)

In [ ]:
from sklearn.preprocessing import MinMaxScaler

transformer = MinMaxScaler().fit(Xnumtrain)
Xnumtrainscale = transformer.transform(Xnumtrain)
Xnumtestscale = transformer.transform(Xnumtest)

In [ ]:
X_train_processed = pd.DataFrame(Xnumtrainscale, columns=Xnumtrain.columns)

In [ ]:
X_test_processed = pd.DataFrame(Xnumtestscale, columns=Xnumtest.columns)

In [ ]:
# X_train_processed = pd.DataFrame((Xnumtrain,Xcattrain),axis=1)
# X_test_processed = pd.DataFrame((Xnumtest,Xcattest),axis=1)

In [ ]:
X_train_processed

In [ ]:
X_test_processed

# Linear regression

In [ ]:
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
lm = linear_model.LinearRegression()
lm.fit(X_train_processed, y_train)
print('score', lm.score(X_train_processed,y_train))

# Logistic regression

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train_processed, y_train)

In [ ]:
Y_pred = classifier.predict(X_test_processed)

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report
cm = confusion_matrix(y_test, Y_pred)

In [ ]:
sns.heatmap(cm, annot=True,fmt='d')

In [ ]:
print(classification_report(y_test, Y_pred))

In [ ]:
from sklearn.neighbors import KNeighborsRegressor

KNN = KNeighborsRegressor(n_neighbors=3)
KNN.fit(X_train_processed, y_train)

In [ ]:
score_train = KNN.score(X_train_processed, y_train)
score_train          #R2 score

In [ ]:
score = KNN.score(X_test_processed, y_test)
score                #R2 score

In [ ]:
KNN2 = KNeighborsRegressor(n_neighbors=2)
KNN2.fit(X_train_processed, y_train)

In [ ]:
score_train2 = KNN2.score(X_train_processed, y_train)
score_train2          #R2 score

In [ ]:
score2 = KNN2.score(X_test_processed, y_test)
score2                #R2 score

# SVC model

In [ ]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf',random_state = 0)
classifier.fit(X_train_processed, y_train)

In [ ]:
Y_pred = classifier.predict(X_test_processed)

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, Y_pred)

In [ ]:
sns.heatmap(cm, annot=True, fmt='d')

In [ ]:
print(classification_report(y_test, Y_pred))

# RandomForestClassifier

In [ ]:
from sklearn.ensemble import RandomForestClassifier
#classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
classifier = RandomForestClassifier(criterion='gini', 
                             n_estimators=700,
                             min_samples_split=10,
                             min_samples_leaf=1,
                             max_features='sqrt',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
classifier.fit(X_train_processed, y_train)

In [ ]:
#predicting result
Y_pred = classifier.predict(X_test_processed)

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, Y_pred)

In [ ]:
sns.heatmap(cm, annot=True, fmt='d')

In [ ]:
print(classification_report(y_test, Y_pred))

# XGBOOST

In [ ]:
# Fitting XGBoost to the Training set
from xgboost import XGBClassifier
classifier = XGBClassifier(seed=82)
classifier.fit(X_train_processed, y_train)

In [ ]:
# Predicting the Test set results
Y_pred = classifier.predict(X_test_processed)

In [ ]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, Y_pred)

In [ ]:
sns.heatmap(cm, annot=True,fmt='d')

In [ ]:
print(classification_report(y_test, Y_pred))

# MLPregressor